.section2 {
  .wrap-btn {
    text-align: center;
  }
  a.info {
    display: block;
    transition: 0.3s ease;
    border-radius: 15px;
    &:hover {
      background-color: #030303;
    }
  }
}

.carousel-indicators {
  top: 20px;
}
